#profile-img{
    border-radius: 100%;
    transition: transform 0.5s ease;
    width: 12em;
}

#profile-img:hover{
    animation: rotateInfinitely 2s infinite linear;
}
  
@keyframes rotateInfinitely {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#profile-card{
    background-color: rgb(255, 255, 255);
    border-radius: 10em;
    padding: 4em;
    display: flex;
    justify-content: center;
}

#profile-info{
    margin-top: 1.5em;
}

.profile-item{
    display: inline-block;
}

.profile-text{
    inline-size: 90%; 
    word-wrap: break-word;
}