#profile-img{
    border-radius: 100%;
    transition: transform 0.5s ease;
    width: 12em;
}

#profile-img:hover{
    animation: rotateInfinitely 2s infinite linear;
}
  
@keyframes rotateInfinitely {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#profile-card{
    background-color: rgb(255, 255, 255);
    border-radius: 10em;
    padding: 4em;
    display: flex;
    justify-content: center;
}

#profile-info{
    margin-top: 1.5em;
}

.profile-item{
    display: inline-block;
}

.profile-text{
    inline-size: 90%; 
    word-wrap: break-word;
}

#projects-showcase{
    margin-top: 3em;
    margin-bottom: 3em;
}

#projects-showcase-title{
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-grid-item-background{
    width: 100%;
    height: 5em;
    object-fit: cover;
    object-position: 50% 50%;
}

#projects-grid{
    background-color: orange;
    padding: 5% 5%;
    border-radius: 5vmin;

    place-items: center top;
    margin: auto;
    display: grid;

    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project-grid-item{
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    vertical-align: middle;

    background-color: white;
    border: 2px solid black;

    transition: transform 0.2s ease;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-out;
}

.project-grid-item:hover{
    transform: scale(1.1);
    background-color: blue;
    color: white;
}

.project-grid-item-title{
    margin: auto;
    font-weight: bold;
}