.project-list-item{
    transition: transform 0.25s ease;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    margin-bottom: 1em;
    padding: 0.5em;
    
    background-size: cover;
    background-position: center;
}

.project-list-item:hover{
    transform: scale(1.05);
}

.project-details{
    margin-left: 0.5em;
    padding-left: 0.75em;
    border-radius: 10px;
    width: 100%;
}

.project-icon{
    margin-left: 0.25em;
}

.spin{
    transition: transform 0.3s ease;
}

.spin:hover{
    transform: rotate3d(0, 0, 1, 360deg);
}

.jump{
    transition: transform 0.15s ease;
}

.jump:hover{
    transform: translateY(-20px);
}

.flip{
    transition: transform 0.3s ease;
}

.flip:hover{
    transform: rotate3d(0, 1, 0, 180deg);
}

.bulge{
    transition: transform 0.3s ease;
}

.bulge:hover{
    transform: scale(2.0);
}