.project-list-item{
    transition: transform 0.25s ease;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    margin-bottom: 1em;
    padding: 0.5em;
    background-size: cover;
    background-position: center;
}

.project-list-item:hover{
    transform: scale(1.05);
}

.project-details{
    margin-left: 1em;
    width: 100%;
}

.project-icon{
    transition: transform 0.3s ease;
}

.project-icon:hover{
    transform: rotate3d(0, 0, 1, 360deg);
}