{% capture project-list-item-style %}
style="    
    {%-if project.background -%}
        background-image: url('{{project.background}}');
    {%-endif-%}

    {%-if project.text-color-%}
        color: {{project.text-color}};
    {%-endif-%}

    {%-if project.text-background-offset-y-%}
        background-position-y: {{project.text-background-offset-y}};
    {%-endif-%}

    {%-if project.text-background-offset-x-%}
        background-position-x: {{project.text-background-offset-x}};
    {%-endif-%}

    {%-if project.text-background-size-%}
        background-size: {{project.text-background-size}};
    {%-endif-%}

    {%-if project.text-background-repeat-%}
        background-repeat: {{project.text-background-repeat}};
    {%-endif-%}"
{% endcapture %}

{% capture project-icon-style %}
style=
"{%-if project.icon-radius-%}
    border-radius: {{project.icon-radius}};
{%-endif-%}
{%-if project.icon-scale-%}
    transform: scale({{project.icon-scale;}});
{%-endif-%}"
{% endcapture %}

{% assign icon = project.project-icon %}
{% if icon == null or icon == "" %} {% assign icon = "/images/boi.png" %} {% endif %}

{% capture project-details-text-style %}
    style="    
    {%-if project.text-color-%}
        color: {{project.text-color}};
    {%-endif-%}
    text-decoration: none;"
{% endcapture %}

{% capture project-details-style %}
    style="background-color: {{project.text-background-color}}"
{% endcapture %}

<div onclick="openProjectLink('/{{project.permalink}}')"class="project-list-item" {{project-list-item-style}}>
    <div class="project-icon {{project.icon-animation}}">
            <img {{project-icon-style}} src="{{icon}}" width="52em">
    </div>
    <div class="project-details" {{project-details-style}}>
        <a class="project-link" {{project-details-text-style}}
            href="../{{ project.permalink }}"><h2>{{ include.project.title }}</h2></a>
        {% include project-date.html project=include.project is-subtitle=true %}
        {% include project-description.html %}
    </div>
</div>