---
layout: default
---
<article class="post">
  <link rel="stylesheet" type="text/css" href="/css/project.css" />
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1> 
    <div id="project-info">
      <!-- end-date is defined here -->
      {% include project-end-date.html %}
      <p><i>{{ page.start-date | date: "%B %Y"}} - {{ end_date }}</i></p>
      {%- if page.school-project -%}
      <p class="subtitle"><i>{{page.module}}</i></p>
      <p class="subtitle"><i>{{page.school}}</i></p>
      {%- endif -%}
      {%- if page.github-link -%}
      <p class="subtitle"><a href="{{page.github-link}}">Github Page</a></p>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
